asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
beautifulsoup4==4.6.0
blinker==1.4
boto==2.39.0
certifi==2018.1.18
chardet==3.0.4
cliapp==1.20170827
click==6.7
cmdtest==0.32
colorama==0.3.7
command-not-found==0.3
constantly==15.1.0
cryptography==2.1.4
data-importer==3.0.2
debtags==2.0
defer==1.0.6
dirspec==13.10
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.11
django-bootstrap3==6.2.2
django-boto==0.3.9
django-cuser==2017.3.16
django-heroku==0.3.1
django-heroku-db-utils==0.1.0
django-heroku-postgresify==0.4
django-jet==1.0.7
django-model-changes==0.15
django-s3-folder-storage==0.3
django-storages==1.4
django-toolbelt==0.0.1
duplicity==0.7.17
enum34==1.1.6
et-xmlfile==1.0.1
Faker==0.9.1
fasteners==0.12.0
google-api-python-client==1.6.5
gunicorn==19.7.1
gyp==0.1
html5lib==0.999999999
httplib2==0.11.0
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
jdcal==1.4
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
Markdown==2.6.9
monotonic==1.0
oauth2client==4.1.2
oauthlib==2.0.6
olefile==0.45.1
oneconf==0.3.9
openpyxl==2.4.0
PAM==0.4.2
pbr==3.1.1
pexpect==4.2.1
Pillow==5.0.0
piston-mini-client==0.7.5
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
Pygments==2.2.0
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyserial==3.4
pysmbc==1.0.15.6
python-apt==1.6.2
python-dateutil==2.7.1
python-debian==0.1.32
python-http-client==3.0.0
pytz==2018.3
pywatchman==1.2.0
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
rsa==3.4.2
SecretStorage==2.3.1
selenium==3.11.0
sendgrid==5.3.0
service-identity==16.0.0
six==1.11.0
software-center-aptd-plugins==0.0.0
static3==0.7.0
stevedore==1.28.0
text-unidecode==1.2
ttystatus==0.38
Twisted==17.9.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
webencodings==0.5
whitenoise==3.3.1
xlrd==1.0.0
zope.interface==4.3.2
