{% extends "home.html" %}
{% load staticfiles %}
{% block script %}

{% endblock %}
{% block courses %}


<!-- Page Content -->
<h2 align="left">{{herramienta}}</h2>
<div class="row">
	<div class="container col-12" align="left" style="padding: 2%">
<!-- Author -->
            <p class="lead">
                Curso: <a href="{% url 'curso' herramienta.medidaOutcome.curso.id %}">{{herramienta.medidaOutcome.curso}}</a>
            </p>
            <hr>

            <p class="lead">Periodo: {{ herramienta.periodo }}</p>

            <hr>
            <!-- Date/Time -->
            <p class="lead">Outcome: {{ herramienta.medidaOutcome.outcome.literal }}</p>

            <hr>
            <p class="lead">
                Tipo:
                {% if herramienta.tipo == 0 %} Mediana {% else %} Media  {% endif %}
            </p>
            <hr>



            <!-- Post Content -->
            <h3>Descripción</h3>
            <p class="lead"> {{ herramienta.descripcion }}</p>

            <h3>Valor</h3>
            <p class="lead">{{ herramienta.valor }}</p>




            <hr>
	</div>

</div>






{% endblock %}
