{% extends "home.html" %}
{% load staticfiles %}
{% block script %}

{% endblock %}
{% block courses %}


<!-- Page Content -->
<h2>Planes de mejora para {{curso.nombre}} en el periodo {{periodo}}</h2>
<div class="row">
    <div class="container col-12" style="padding-top:3%;">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Periodo</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
      {% for plan in planes %}
        <tr>
          <th scope="row">{{plan.id}}</th>
          <td>{{periodo}}</td>
          <td>{{plan.descripcion}}</td>
        </tr>
      {% endfor %}
      </tbody>


    </table>
    </div>

</div>

{% endblock %}
